*.class
*.log

target/
.idea/
.DS_Store
out
venv/
env/
*.pyc
lib/
*.egg
*.egg-info

training/notebooks/refit/

.local/
.ipython/
.jupyter/
.cache/
.ipynb_checkpoints/
db/data/
training/data/
baseline_model/
infrastructure/refit/refit/
infrastructure/refit/charts/
inference/src/main/python/flink/
inference/src/main/python/env/