*.class
*.log

target/
.idea/
.DS_Store
out
venv/
*.pyc

training/notebooks/refit/

.local/
.ipython/
.jupyter/
.cache/
.ipynb_checkpoints/
db/data/
data/
baseline_model/
infrastructure/refit/refit/
infrastructure/refit/charts/
inference/src/main/python/flink/
inference/src/main/python/env/