version: '3.8'
services:
  zookeeper:
    image: 'bitnami/zookeeper:latest'
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: 'bitnami/kafka:latest'
    ports:
      - '9092:9092'
      - '19092:19092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:19092,EXTERNAL://0.0.0.0:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:19092,EXTERNAL://127.0.0.1:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
#
  cassandra:
    build: ./db/src/main/cql/
    ports:
      - "7000:7000"
      - "9042:9042"
      - "9160:9160"
    volumes:
      - cassandra:/bitnami
  grafana:
    image: grafana/grafana:7.1.1
    volumes:
      - ./resources/grafana/provisioning/:/etc/grafana/provisioning
      - ./resources/grafana/config.ini:/etc/grafana/config.ini
      - ./resources/grafana/dashboards/:/var/lib/grafana/dashboards
    ports:
      - 8000:3000
    user: "104"
    environment:
      GF_INSTALL_PLUGINS: grafana-clock-panel,grafana-simple-json-datasource,simpod-json-datasource

  flink-jobmanager:
    image: cdliotprototype/cdl-refit-flink:BETA-1.0
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        classloader.resolve-order: parent-first

  flink-taskmanager:
    image: cdliotprototype/cdl-refit-flink:BETA-1.0
    depends_on:
      - flink-jobmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 2
        taskmanager.memory.jvm-metaspace.size: 500 mb
        classloader.resolve-order: parent-first

  minio:
    image: minio/minio:RELEASE.2020-09-17T04-49-20Z
    volumes:
      - minio-1:/data
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server /data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

#  inference:
#    build: ./inference/
#    environment:
#      WAIT_FLINK_HOST: flink-jobmanager
#      FLINK_HOST: flink-jobmanager
#      KAFKA_HOST: "kafka:19092"
#    depends_on:
#      - flink-jobmanager
#      - kafka
#      - cassandra

  ingestion:
    build: ./ingestion/
    environment:
      WAIT_CASSANDRA_HOST: cassandra
      KAFKA_HOST: "kafka:19092"
      KAFKA_DATA_TOPIC: refit.inference.data
      KAFKA_MODELS_TOPIC: refit.training.models
      KAFKA_PREDICTIONS_TOPIC: refit.inference.predictions
      KAFKA_IMPORT_TOPIC: refit.training.import
      KAFKA_RAW_SENSOR_DATA_TOPIC: refit.inference.raw.data
      KAFKA_SENSOR_DATA_TOPIC: refit.inference.sensor.data
      CASSANDRA_HOST: cassandra
      CASSANDRA_PORT: 9042
      CASSANDRA_USER: cassandra
      CASSANDRA_PASSWORD: cassandra
      CASSANDRA_KEYSPACE: cdl_refit
      MINIO_HOST: http://minio:9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
      MINIO_BUCKET_IMPORT: refit-import
      MINIO_BUCKET_MODELS: refit-models
      MINIO_BUCKET_SCHEMA: refit-schema
      ENCRYPTION_KEY: keyboard_cat
      REFIT_DEMO: "true"
      PROJECT: ingestion
    depends_on:
      - flink-jobmanager
      - kafka
      - cassandra
    ports:
      - "3030:3030"

  integrations:
    build: ./integrations/
    environment:
      WAIT_CASSANDRA_HOST: cassandra
      KAFKA_HOST: "kafka:19092"
      KAFKA_DATA_TOPIC: refit.inference.data
      KAFKA_MODELS_TOPIC: refit.training.models
      KAFKA_PREDICTIONS_TOPIC: refit.inference.predictions
      KAFKA_IMPORT_TOPIC: refit.training.import
      KAFKA_RAW_SENSOR_DATA_TOPIC: refit.inference.raw.data
      KAFKA_SENSOR_DATA_TOPIC: refit.inference.sensor.data
      CASSANDRA_HOST: cassandra
      CASSANDRA_PORT: 9042
      CASSANDRA_USER: cassandra
      CASSANDRA_PASSWORD: cassandra
      CASSANDRA_KEYSPACE: cdl_refit
      MINIO_HOST: http://minio:9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
      MINIO_BUCKET_IMPORT: refit-import
      MINIO_BUCKET_MODELS: refit-models
      MINIO_BUCKET_SCHEMA: refit-schema
      ENCRYPTION_KEY: keyboard_cat
      REFIT_DEMO: "false"
      PROJECT: integrations
    depends_on:
      - flink-jobmanager
      - kafka
      - cassandra


  notebook:
    build: ./training/
    # image: jupyter/base-notebook:latest
    volumes:
      - ./training/:/home/docker_worker
    ports:
      - 8888:8888
    command: "start-notebook.sh"
    user: root
    environment:
      JUPYTER_ENABLE_LAB: 'yes'
      NB_USER: docker_worker
      NB_UID: 1008
      NB_GID: 1011
      CHOWN_HOME: 'yes'
      CHOWN_HOME_OPTS: -R
      WAIT_CASSANDRA_HOST: cassandra
      KAFKA_HOST: "kafka:19092"
      KAFKA_DATA_TOPIC: refit.inference.data
      KAFKA_MODELS_TOPIC: refit.training.models
      KAFKA_PREDICTIONS_TOPIC: refit.inference.predictions
      KAFKA_IMPORT_TOPIC: refit.training.import
      KAFKA_RAW_SENSOR_DATA_TOPIC: refit.inference.raw.data
      KAFKA_SENSOR_DATA_TOPIC: refit.inference.sensor.data
      CASSANDRA_HOST: cassandra
      CASSANDRA_PORT: 9042
      CASSANDRA_USER: cassandra
      CASSANDRA_PASSWORD: cassandra
      CASSANDRA_KEYSPACE: cdl_refit
      MINIO_HOST: minio:9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
      MINIO_BUCKET_IMPORT: refit-import
      MINIO_BUCKET_MODELS: refit-models
      MINIO_BUCKET_SCHEMA: refit-schema
      ENCRYPTION_KEY: keyboard_cat
      REFIT_DEMO: "false"
      PROJECT: ingestion
      INGESTION_HOST: ingestion

networks:
  default:
    driver: bridge

volumes:
  minio-1:
  cassandra: