version: '3.8'
services:
  pulsar:
    image: apachepulsar/pulsar:2.6.0
    ports:
      - "8080:8080"
      - "6650:6650"
    command: >
      bin/pulsar standalone
    deploy:
      restart_policy:
        condition: on-failure

  cassandra:
    build: ./infrastructure/cassandra/src/
    ports: 
      - "7000:7000"
      - "9042:9042"
      - "9160:9160"


networks:
  default:
    driver: bridge